.a-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap !important;
    gap: 30px;
    margin: 0;
    padding-bottom: 20px;
    width: 100%;
}
.a-img-card{
    height:360px;
    width:550px;
    object-fit: cover;
    background-image: url(/src/assests/about/profile-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
/* .a-img-card {
    border: 8px double black;
    border-radius: 40% 20% / 10% 30%;
}
.a-img-card:hover{
    border-radius: 32px 15% / 16px 32px 48px 64px;

} */
.a-para-card{
    text-align:start;
    height: 360px;
    width: 500px;
    padding: 15px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(56, 55, 55);
    border: 1px  solid ;
    /* background-image: url("https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?w=740&t=st=1673019100~exp=1673019700~hmac=427d2ff055f2dfd1384b83a557e88f6168dbb540e6a894b370c096cc20c06bd6"); */
    background-image: url("https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg");
    background-size: cover;
    border-radius: 10px;
}
.a-para-content{
    background-color: #1c242c;
    color: white;
}
.a-para-content:hover{
    box-shadow: 55px 20px 40px rgb(0, 0,0,.4),
                inset 4px 4px 10px #1c242c ;
    transition: .4s;
}
.msg-text{
    text-align: end !important;
    color: #787776;
}
.msg-flex{
    background-color: #1c242c;
    /* background-color: #292f26 !important; */
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius:0px !important;
    margin-bottom: 4px;
    box-shadow: 25px 20px 20px rgb(0, 0,0,.4),
                inset 4px 4px 10px #1c242c;
    transition: .4s;
}

/* description-text-typing */

.title{
    position: absolute;
    transform: translate((-50%, -50%));
    color: transparent;
}

.title::before{
    content: 'I am a proficient MERN stack developer...,I am well-versed in utilizing MongoDB,Express.js, React.js, and Node.js to craft visually appealing, functionally sound, and highly performant web applications.';
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255, 251, 251) !important;
    overflow: hidden;
    border-right: 1px solid black;
    animation: type 8s steps(30) infinite;
    white-space: nowrap;

}

@keyframes type{
    0%{
        width: 0;
    }

    50%{
        width: 100%;
    }
}

/* receiving text */
.receiving-text>h3{
background-color: #075e54 !important;
padding: 5px;
margin: 3px;
display: flex;
align-items: center;
justify-content: center;
width: 230px;
text-align: center;
margin-left: 235px;
margin-bottom: 10px;
border-radius: 15px;
border-top-right-radius:0px !important;
color: white;
}
.msg-text-send{
    font-size: 12px;
    text-align: end !important;
    color: #787776;
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 2px;
}
/* msg */
.msg-send{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -10px;
}
.msg-send input{
    border: none;
    height: 35px;
    padding: 15px;
    border-radius: 30px;
    background-color: #1c242c;
    color: white;
    width: 100%;
}
.msg-send i{
    font-size: 20px;
    background-color: #128c7e;
    color: white;
    width: 45px;
    height: 44px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    padding-right: 15px;
    padding-top: 12px;
}
.msg-send i:hover{
    background-color: #0a5f55;
}
.a-para-card small{
    background-color: rgb(52, 50, 50);
    margin-top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250px;
   margin-left: 100px;
   border-radius: 6px;
   border-top-right-radius: 0px !important;
   border-top-left-radius: 0px !important;
   margin-bottom: 5px;
   color: rgb(192, 188, 188);
   font-size: 10px;
}
@media screen and (max-width:958px) {
    .a-img-card{
        height:300px;
        width: 500px;
        background-size: contain;
    }
}
@media screen and (max-width:535px) {
    .a-img-card{
        height:230px;
        width: 400px;
        background-size: contain;
    }
    .a-para-card{
        height: 350px;
        width: 400px;
    }
    .a-para-card small{
        margin-left: 60px;
    }
    .receiving-text h3{
     font-size: 12px;
     width: 180px;
     margin-left: 190px;
    }
    .a-para-content{
        font-size: 11px;
    }
}

@media screen and (max-width:430px) {
 
    .a-img-card{
        height:180px;
        width: 325px;
        background-size: contain;
    }
    .a-para-card{
        height: 350px;
        width: 330px;
    }
    .a-para-card small{
        margin-left: 20px;
    }
    .receiving-text h3{
     font-size: 10px;
     width: 180px;
     margin-left: 120px;
    }
    .a-para-content{
        font-size: 10px;
    }
    .a-para-card small{
        margin-left: 70px;
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width:375px) {
  
    .a-img-card{
        height:140px;
        width: 250px;
        background-size: contain;
    }
    .a-para-card{
        height: 375px;
        width: 275px;
    }
    .a-para-card small{
        margin-left: 70px;
        width: 50%;
        text-align: center;
    }
    .receiving-text h3{
     font-size: 9px;
     width: 180px;
     margin-left: 60px;
    }
    .a-para-content{
        font-size: 10px;
    }
    input{
        width: 200px;
    }
    .nav-link i{
      width: 40px;
      height: 40px;
      padding-top:8px;
    }
}
@media screen and (max-width:325px) {
   
    .a-img-card{
        height:140px;
        width: 250px;
        background-size: contain;
    }
    .a-para-card{
        height: 375px;
        width: 270px;
    }
    .a-para-card small{
        width: 220px;
    }
    .receiving-text h3{
     font-size: 8px;
     width: 180px;
     margin-left: 60px;
    }
    .a-para-content{
        font-size: 9px;
    }
    input{
        width: 200px;
    }
    .nav-link i{
      width: 40px;
      height: 40px;
      padding-top:8px;
    }
    .a-para-card small{
        margin-left: 60px;
        width: 50%;
        text-align: center;
    }
    
}
@media screen and (max-width:296px) {
    .a-img-card{
        height:140px;
        width: 250px;
        background-size: contain;
    }
   
    .a-para-card{
        height: 350px;
        width: 250px;
    }
    .a-para-card small{
        margin-left: 12px;
    }
    .receiving-text h3{
     font-size: 9px;
     width: 180px;
     margin-left: 40px;
    }
    .a-para-content{
        font-size: 8px;
    }
    input{
        width: 170px;
    }
    .nav-link i{
      width: 40px;
      height: 40px;
      padding-top:8px;
    }
}