.contact-title{  
    color: transparent;
    -webkit-text-stroke: 1.5px #040404;
    font-size: 10px !important;
    margin-top: 30px;
    padding-top: 50px;
} 
.services-title span{
    color: rgb(33, 29, 28);
    -webkit-text-stroke: 1px #0b0a0a;  
}  
.services i{
    font-size: 45px;
    padding: 5px;
}
#contact-icon{
    font-size: 40px;
    padding-left: 10px;
}

@media screen and (max-width:768px) {
    .contact-title{
        padding-top:0;
    }
}