.skills{
    height: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap:wrap;
    /* object-fit: cover; */
    padding-bottom: 30px;
    /* background-image: url("/public/a-bg.png"); */
    object-fit: cover;
    background-position: center;
}
/* @media screen and (max-width:'768px') {
    .skills{
        height: 100%;
    }
} */
@media screen and (max-width:768px) {
    .skills{
        padding-top:0;
    }
}